@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/simpleControls.js" asp-append-version="true"></script>
    <script src="~/js/app-trips.js" asp-append-version="true"></script>
    <script src="~/js/tripsController.js" asp-append-version="true"></script>
    <script src="~/js/tripEditorController.js" asp-append-version="true"></script>
}

<div class="row" ng-app="app-trips">

    <div ng-view></div>

</div>


